<p>playerdetails works!</p>
<div *ngIf="this.player">
  {{ this.player.name }} | {{ this.player.playerId }} | {{ this.player.wins }} | {{ this.player.losses }}
  <br />
  <form [formGroup]="playerEditForm">
    <input formControlName="name" type="text" name="Name" id="Name" />
    <br />
    <input formControlName="playerId" type="number" name="PlayerId" id="PlayerId" min="0" />
    <br />
    <input formControlName="wins" type="number" name="Wins" id="Wins" />
    <br />
    <input formControlName="losses" type="number" name="Losses" id="Losses" />
    <br>
    <button (click)="UpdatePlayer()" type="submit">Submit</button>
  </form>
</div>

<pre *ngIf="playerEditForm">{{playerEditForm.value | json}}</pre>
