<!-- <p>playerdetails works!</p>
<div *ngIf="this.player">

  <form action="">
    {{player.Name}} | {{player.PlayerId}} | {{player.Wins}} | {{player.Losses}} <br>
    <input type="text" name="Name" id="Name" placeholder="{{player.Name}}"><br>
    <input type="number" name="PlayerId" id="PlayerId" placeholder="{{player.PlayerId}}"><br />
    <input type="number" name="Wins" id="Wins" placeholder="{{player.Wins}}"><br>
    <input type="number" name="Losses" id="Losses" placeholder="{{player.Losses}}"><br>
    <input type="submit">
  </form>


</div> -->

<p>playerdetails works!</p>
<div *ngIf="this.player">
  {{ this.player.Name }} | {{ this.player.PlayerId }} | {{ this.player.Wins }} |
  {{ this.player.Losses }}
  <br />
  <form [formGroup]="playerEditForm">
    <input formControlName="name" [(ngModel)]="player.Name" type="text" name="Name" id="Name"
      placeholder="{{ player.Name }}" />
    <br />
    <input formControlName="playerId" [(ngModel)]="player.PlayerId" type="number" name="PlayerId" id="PlayerId"
      placeholder="{{ player.PlayerId }}" />
    <br />
    <input formControlName="wins" [(ngModel)]="player.Wins" type="number" name="Wins" id="Wins"
      placeholder="{{ player.Wins }}" />
    <br />
    <input formControlName="losses" [(ngModel)]="player.Losses" type="number" name="Losses" id="Losses"
      placeholder="{{ player.Losses }}" />
    <br>
    <input type="submit" value="Sumbit">
  </form>
</div>

<pre>{{playerEditForm.value | json}}</pre>
